@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
footer {
  width: 100vw;
  background: rgba(25, 181, 254, 1);
}
.footer {
  width: 90%;
  margin: auto;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-top: 2rem;
}
nav {
  height: 100vh;
  width: 60vw;
  background: rgba(52, 73, 94, 1);
  color: white;
  position: fixed;
  top: 0;
  left: -100vw;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.5s all;
  align-items: center;
}
nav a:hover {
  border-bottom: 1px solid whitesmoke;
}
.open {
  transition: 0.5s all;
  left: 0;
}
nav ul {
  height: 50%;
  margin-top: 2rem;
}
nav ul li {
  margin: 8px;
  color: white;
}
nav > h1 {
  font-family: 'Rye', cursive;
  font-size: 2rem;
  text-align: center;
}
nav ul li h1 {
  font-size: 1.5rem;
}
.header {
  position: relative;
  width: 100vw;
  margin-bottom: 2rem;
  height: 40vh;
}
.header .main {
  width: 100%;
  height: 100%;
  background: url('./images/cloudy-1866581_1920.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.header .main::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.header .main-detail {
  text-align: center;
  width: 60%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40%;
  position: absolute;
  top: 40%;
  left: 20%;
  z-index: 1;
  text-align: center;
  color: white;
}
.header .main-detail .top {
  font-size: 3rem;
}

.header .main-detail .bottom {
  font-size: 1.5rem;
}
.media-menu {
  font-family: 'Rye', cursive;
  position: absolute;
  top: 1rem;
  left: 1rem;
  height: 100px;
  color: white;
  font-size: 1.8rem;
}
.menu-icon {
  color: white;
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 2;
}
.about {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: whitesmoke;
  padding-bottom: 3rem;
}
.about img {
  width: 70vw;
  margin: 1rem;
}
.about .text-custom {
  width: 70vw;
  margin-top: 1rem;
  text-align: center;
}
@media (min-width: 750px) {
  .menu-icon {
    display: none;
  }
  nav {
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
  }
  nav img {
    height: 120px;
  }

  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 0;
  }
  nav ul li {
    margin: 8px;
    font-size: 1.3rem;
  }
  nav ul .media {
    display: none;
  }
  .header {
    width: 80vw;
    margin: auto;
    margin-bottom: 2rem;
  }

  footer {
    display: block;
  }
  .slideshow-container {
    width: 60vw;
  }
  .about img {
    width: 60vw;
  }
}
